@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);
  --clr-headings: hsl(0, 0%, 95%);
  --clr-paragraphs: hsla(0, 0%, 100%, 0.75);
}

html {
  font-size: 0.9375rem;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}
h1,
h2 {
  line-height: 1;
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-headings);
  margin-bottom: 1.5rem;
}

p {
  font-family: "Lexend Deca";
  color: var(--clr-paragraphs);
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
}

button {
  display: inline-block;
  font-family: "Lexend Deca";
  background-color: var(--clr-headings);
  color: var(--clr-btn, var(--clr-dark-cyan));
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.cards {
  padding-top: 5em;
  padding-bottom: 5em;
}

.card {
  padding: 4.5em;
  margin: 0 auto;
  max-width: 50%;
}

.card-1 {
  background-color: var(--clr-bright-orange);
  border-radius: 3% 3% 0 0;
}

.card-1 button {
  --clr-btn: var(--clr-bright-orange);
}

.card-2 {
  background-color: var(--clr-dark-cyan);
}

.card-3 {
  background-color: var(--clr-very-dark-cyan);
  border-radius: 0 0 3% 3%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cards {
    display: flex;
    /* margin: 2em 2em 2em 2em; */
    padding: 10em 15em 10em 15em;
  }

  .card {
    padding: 4.5em;
    margin: 0 auto;
  }

  .card-1 {
    border-radius: 5px 0 0 5px;
  }
  .card-3 {
    border-radius: 0 5px 5px 0;
  }
}
